<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <footer th:fragment="footer">
        <div class="left">
            <p>&copy; 2020 <a href="https://github.com/damian-gor/food-app">food-app</a></p>
        </div>
        <div class="center">
            <p>Recipes and Products data comes from:</p>
            <a href="https://spoonacular.com/"><img th:src="@{/images/spoonacular.png}" alt="spoonacular"></a>
            <a href="https://www.edamam.com/"><img th:src="@{/images/edamam.png}" alt="edamam"></a>
        </div>
        <div class="footer-contact">
            <a href="https://www.linkedin.com/in/damian-górka-248026160"><img th:src="@{/images/linkedin-brands.svg}"
                    alt="LinkedIn"></a>
            <a href="https://github.com/damian-gor"><img th:src="@{/images/github-brands.svg}" alt="GitHub"></a>

            <a href="https://hub.docker.com/u/damiangor"><img th:src="@{/images/docker-brands.svg}" alt="Docker"></a>
            <a
                href="mailto:damian.gorka94@gmail.com?subject=Invitation to a job interview&body=Hi, Damian! Let's meet tomorrow and talk about cooperation! Best reards, TheBestCompany"><img
                    th:src="@{/images/envelope-solid.svg}" alt="e-mail"></a>
        </div>
    </footer>

</body>

</html>