<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/diary-page.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>


    <title>Diary Page</title>
</head>

<body>

    <div>
        <i class="far fa-user"></i>
        <div sec:authorize="isAuthenticated()">
            <a id="user"><span sec:authentication="name"></span></a>
            <a id="logout">Log out</a>
        </div>
        <span sec:authorize="!isAuthenticated()"><a id="login-redirect">Log in</a></span>
    </div>


    <h1>Diary Page</h1>

    <button type="button" class="btn btn-default btn-lg confirm" id="delete">
        <i class="fas fa-trash-alt" aria-hidden="true"></i>
    </button>

    <p>Date: <span th:text="${diaryPage.id.date}"></span></p>
    <p>Caloric intake goal: <span th:text="${diaryPage.caloricIntakeGoal}"></span></p>
    <p>Calories left: <span th:text="${diaryPage.kcalLeft}"></span></p>
    <br>

    <h3>Consumption summary:</h3>
    <table class="table">
        <tr>
            <td>Kcal:</td>
            <td th:text="${diaryPage.actualKcalIntake}"></td>
        </tr>
        <tr>
            <td>Proteins:</td>
            <td th:text="${diaryPage.actualProteinIntake}"></td>
        </tr>
        <tr>
            <td>Carbohydrates:</td>
            <td th:text="${diaryPage.actualCarbsIntake}"></td>
        </tr>
        <tr>
            <td>Fats:</td>
            <td th:text="${diaryPage.actualFatIntake}"></td>
        </tr>
    </table>

    <a th:href="${diaryPage.getLink('Get all profile diary pages').get().getHref()}" id="diaryPagesLink"><button>Get all diary
            pages</button></a>
    <a th:href="${diaryPage.getLink('Get all meals in the diary page').get().getHref()}"><button>Get page's
            meals</button></a>
    <a th:href="${diaryPage.getLink('Go to profile food diary').get().getHref()}"><button>Back to profile's food
            diary</button></a>
    <a th:href="${diaryPage.getLink('Back to profile').get().getHref()}"><button>Back to profile</button></a>

    <script th:inline="javascript">
        var auth = /*[[${#authentication}]]*/ null;
    </script>

</body>

</html>