<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head :: baseHead(~{::title}, ~{::script})">

    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/diary-pages.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>
    <script type="text/javascript" th:src="@{/js/external/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/external/jquery-ui.js}"></script>

    <title>Diary pages</title>

</head>

<body>

    <div th:replace="fragments/header :: user"></div>

    <main>

        <div class="navi">
            <div class="back">
                <span><img class="navi-img" th:src="@{/images/arrow-left-solid.svg}">Back</span>
                <a th:href="${diaryPages.get('0').getLink('Go to profile food diary').get().getHref()}"><button>
                        <img class="navi-img" th:src="@{/images/book-solid.svg}">Food diary</button></a>
                <a th:href="${diaryPages.get('0').getLink('Back to profile').get().getHref()}"><button>
                        <img class="navi-img" th:src="@{/images/user-solid.svg}">Profile</button></a>
            </div>
        </div>

        <h3 class="table-tittle">Diary pages</h3>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Caloric intake goal</th>
                <th>Calories left</th>
                <th><img class="navi-img" th:src="@{/images/file-alt-solid.svg}"></th>
                <th><img class="navi-img" th:src="@{/images/utensils-solid.svg}"></th>
            </tr>
            <tr th:each="diaryPage : ${diaryPages}">
                <td th:text="${diaryPage.id.date}"></td>
                <td th:text="${diaryPage.caloricIntakeGoal}"></td>
                <td th:text="${diaryPage.kcalLeft}"></td>
                <td><a th:href="${diaryPage.getLink('Self').get().getHref()}"><button>Page details</button></a></td>
                <td><a th:href="${diaryPage.getLink('Get all meals in the diary page').get().getHref()}"><button>Page
                            meals</button></a></td>
            </tr>
        </table>
        <br>

        <button type="button" class="btn btn-default btn-sm" id="show-diaryPage-form">
            Add new diary page
            <img class="navi-img" id="show-img" th:src="@{/images/sort-down-solid.svg}">
        </button>

        <div class="container" id="diaryPage-form-container" style="display: none">
            <form id="diaryPageForm">
                Select new diary page date:
                <input type="text" id="datepicker">
                <button type="submit" class="btn btn-primary btn-sm">Add</button>
            </form>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>