<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script type="text/javascript" th:src="@{/js/food-diary.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>Food Diary</title>
</head>

<body>

    <div>
        <i class="far fa-user"></i>
        <div sec:authorize="isAuthenticated()">
            <a id="user"><span sec:authentication="name"></span></a>
            <a id="logout">Log out</a>
        </div>
        <span sec:authorize="!isAuthenticated()"><a id="login-redirect">Log in</a></span>
    </div>


    <h1><span id="profileName"></span></h1>
    <h2>Food Diary</h2>
    <button type="button" class="btn btn-default btn-lg confirm" id="delete">
        <i class="fas fa-trash-alt" aria-hidden="true"></i>
    </button>

    <p>Id: <span th:text="${foodDiary.profileId}"></span></p>
    <p>Recommended caloric intake: <span th:text="${foodDiary.caloricIntakeGoal}">No enough data about profile.
            <a th:href="${foodDiary.getLink('Go to profile details').get().getHref()}">Fill in the missing profile
                details</a></span></p>

    <a th:href="${foodDiary.getLink('Get all profile diary pages').get().getHref()}"><button>Get all diary
            pages</button></a>

    <br><br>
    <a th:href="${foodDiary.getLink('Go to profile details').get().getHref()}"><button>Profile details</button></a>
    <a th:href="${foodDiary.getLink('Back to profile').get().getHref()}" id="profileLink"><button>Back to
            profile</button></a>

    <script th:inline="javascript">
        var auth = /*[[${#authentication}]]*/ null;
    </script>

</body>

</html>