<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/base-head :: baseHead(~{::title}, ~{::script})">

    <script type="text/javascript" th:src="@{/js/food-diary.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>

    <title>Food Diary</title>

</head>

<body>

    <div th:replace="fragments/menu :: user"></div>

    <main>

        <h1><span id="profileName"></span>'s food diary</h1>
        <button type="button" class="btn btn-default btn-lg confirm" id="delete">
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
        </button>

        <p>Id: <span th:text="${foodDiary.profileId}"></span></p>
        <p>Current recommended caloric intake: <span th:text="${foodDiary.caloricIntakeGoal}">No enough data about profile.
                <a th:href="${foodDiary.getLink('Go to profile details').get().getHref()}">Fill in the missing profile
                    details</a></span></p>

        <a th:href="${foodDiary.getLink('Get all profile diary pages').get().getHref()}"><button>Get all diary
                pages</button></a>

        <br><br>
        <a th:href="${foodDiary.getLink('Go to profile details').get().getHref()}"><button>Profile details</button></a>
        <a th:href="${foodDiary.getLink('Back to profile').get().getHref()}" id="profileLink"><button>Back to
                profile</button></a>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>