<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head :: baseHead(~{::title}, ~{::script})">

    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>

    <title>Home</title>

</head>

<body>

    <div th:replace="fragments/header :: user"></div>

    <main>
        <p>This application is designed to facilitate diet by calculating basic indicators (e.g. BMI), determining
            caloric
            demand, searching for recipes and products (from external databases), which can then be added to the
            nutrition
            diary, which allows you to track currently consumed meals in relation to for the nutritional purposes set by
            the user.</p>

        <h3 class="table-tittle">Examples of functionality:</h3>
        <table class="table">
            <tr>
                <td>Search for recipes:</td>
                <td><a th:href="${message.getLink('Search for recipes').get().getHref()}" target="_blank">
                        <button>Try it out!</button></a>
                </td>
                <td><input id="input-recipe" type="text" placeholder="Write recipe text..."></td>
                <td><button id="search-recipe">Search</button></td>
            </tr>
            <tr>
                <td>Search for products:</td>
                <td><a th:href="${message.getLink('Search for products').get().getHref()}" target="_blank">
                        <button>Try it out!</button></a>
                </td>
                <td><input id="input-product" type="text" placeholder="Write product name..."></td>
                <td><button id="search-product">Search</button></td>
            </tr>
            <tr>
                <td>Check our profiles or find profile by ID:</td>
                <td><a th:href="${message.getLink('Check our profiles').get().getHref()}" target="_blank">
                        <button>See profiles</button></a>
                </td>
                <td><input id="input-profile" type="text" placeholder="Write profile's ID..."></td>
                <td><button id="search-profile">Search</button></td>
            </tr>
        </table>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>