<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal</title>
</head>
<body>
<h1>Meal <span th:text="${meal.id.mealNumber}"></span></h1>
<p>Profile ID: <span th:text="${meal.id.profileId}"></span></p>
<p>Date: <span th:text="${meal.id.date}"></span></p>

<table class="table">
    <tr>
        <td>Kcal:</td>
        <td th:text="${meal.mealKcal}"></td>
    </tr>
    <tr>
        <td>Proteins:</td>
        <td th:text="${meal.mealProtein}"></td>
    </tr>
    <tr>
        <td>Carbohydrates:</td>
        <td th:text="${meal.mealCarbs}"></td>
    </tr>
    <tr>
        <td>Fats:</td>
        <td th:text="${meal.mealFat}"></td>
    </tr>
</table>

<p>Meal elements</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>Product ID</th>
        <th>Amount [g]</th>
        <th>Kcal</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fat</th>
    </tr>
    <tr th:each="product,iterationStatus : ${meal.products}">
        <td style="font-weight : bold" th:text="${iterationStatus.count}"></td>
        <td th:text="${product.productId}"></td>
        <td th:text="${product.grams}"></td>
        <td th:text="${product.productKcal}"></td>
        <td th:text="${product.productProtein}"></td>
        <td th:text="${product.productCarbs}"></td>
        <td th:text="${product.productFat}"></td>
        <td><a th:href="${product.getLink('Get product details').get().getHref()}"><button>Meal details</button></a></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td th:text="${meal.getNutrientSummary('kcal')}"></td>
        <td th:text="${meal.getNutrientSummary('protein')}"></td>
        <td th:text="${meal.getNutrientSummary('carbs')}"></td>
        <td th:text="${meal.getNutrientSummary('fat')}"></td>
    </tr>
</table>

<a th:href="${meal.getLink('Back to the diary page').get().getHref()}"><button>Back to diary page</button></a>
<a th:href="${meal.getLink('Go to profile food diary').get().getHref()}"><button>Back to profile's food diary</button></a>
<a th:href="${meal.getLink('Back to the profile').get().getHref()}"><button>Back to profile</button></a>

</body>
</html>