<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/meal.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>

    <title>Meal</title>
</head>

<body>

    <div>
        <i class="far fa-user"></i>
        <div sec:authorize="isAuthenticated()">
            <a id="user"><span sec:authentication="name"></span></a>
            <a id="logout">Log out</a>
        </div>
        <span sec:authorize="!isAuthenticated()"><a id="login-redirect">Log in</a></span>
    </div>


    <h1>Meal <span th:text="${meal.id.mealNumber}"></span></h1>
    <button type="button" class="btn btn-default btn-lg confirm" id="deleteMeal">
        <i class="fas fa-trash-alt" aria-hidden="true"></i>
    </button>
    <p>Date: <span th:text="${meal.id.date}"></span></p>

    <h3>Meal summary</h3>
    <table class="table" id="mealSummary">
        <tr>
            <td>Kcal:</td>
            <td th:text="${meal.mealKcal}" class="total-kcal"></td>
        </tr>
        <tr>
            <td>Proteins:</td>
            <td th:text="${meal.mealProtein}" class="total-protein"></td>
        </tr>
        <tr>
            <td>Carbohydrates:</td>
            <td th:text="${meal.mealCarbs}" class="total-carbs"></td>
        </tr>
        <tr>
            <td>Fats:</td>
            <td th:text="${meal.mealFat}" class="total-fat"></td>
        </tr>
    </table>
    <br>

    <h3>Meal elements</h3>
    <table class="table" id="mealElements">
        <tr>
            <th>No.</th>
            <th>Product name</th>
            <th>Amount [g]</th>
            <th>Kcal</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th></th>
        </tr>
        <tr th:each="product,iterationStatus : ${meal.products}" th:id="${product.productId}">
            <td th:text="${iterationStatus.count}" class="index"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.grams}"></td>
            <td th:text="${product.productKcal}"></td>
            <td th:text="${product.productProtein}"></td>
            <td th:text="${product.productCarbs}"></td>
            <td th:text="${product.productFat}"></td>
            <td><button type="button" class="btn btn-default btn-lg confirm deleteProduct"
                    th:value="${product.productId}">
                    <i class="fas fa-times" aria-hidden="true"></i></button></td>
            <td><a th:href="${product.getLink('Get product details').get().getHref()}"><button>Product
                        details</button></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <th>Total:</th>
            <td th:text="${meal.mealKcal}" class="total-kcal"></td>
            <td th:text="${meal.mealProtein}" class="total-protein"></td>
            <td th:text="${meal.mealCarbs}" class="total-carbs"></td>
            <td th:text="${meal.mealFat}" class="total-fat"></td>
        </tr>
    </table>
    <br>

    <button type="button" class="btn btn-default btn-lg" id="show-newProduct-form">
        Add more products
        <i id="show-img" class="fas fa-sort-down" aria-hidden="true"></i>
    </button>

    <div class="container" id="newProduct-form-container" style="display: none">
        <form id="newProductForm">
            <div class="form-group">
                <label for="productId">Product ID:</label> <input type="text" class="form-control" id="productId"
                    placeholder="Enter product ID" name="productId">
            </div>
            <div class="form-group">
                <label for="productAmount">Product amount:</label> <input type="text" class="form-control"
                    id="productAmount" placeholder="Enter amount in [g]" name="productAmount">
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <br>
    <br>

    <a th:href="${meal.getLink('Get all meals in that diary page').get().getHref()}" id="mealsLink"><button>Back to meals</button></a>
    <a th:href="${meal.getLink('Back to the diary page').get().getHref()}"><button>Back to diary page</button></a>
    <a th:href="${meal.getLink('Go to profile food diary').get().getHref()}"><button>Back to profile's food
            diary</button></a>
    <a th:href="${meal.getLink('Back to the profile').get().getHref()}"><button>Back to profile</button></a>

    <script th:inline="javascript">
        var auth = /*[[${#authentication}]]*/ null;
        var productsOnStart = /*[[${meal.products}]]*/ null;
    </script>

</body>

</html>