<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <title>Message</title>
</head>

<body>

    <div>
        <i class="far fa-user"></i>
        <div sec:authorize="isAuthenticated()">
            <a id="user"><span sec:authentication="name"></span></a>
            <a id="logout">Log out</a>
        </div>
        <span sec:authorize="!isAuthenticated()"><a id="login-redirect">Log in</a></span>
    </div>


    <p th:text="${message.message}"></p>
    <ul th:each="link : ${message.getLinks()}">
        <li><a th:href="${link.getHref()}" th:text="${link.getRel()}"></a></li>
    </ul>

    <script th:inline="javascript">
        var auth = /*[[${#authentication}]]*/ null;
    </script>

</body>

</html>