<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head :: baseHead(~{::title}, ~{::script})">

    <script type="text/javascript" th:src="@{/js/product-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/favourites.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>

    <title>Product</title>

</head>

<body>

    <div th:replace="fragments/header :: user"></div>

    <main>

        <h1>Product</h1>

        <div class="removable">
            <h2 th:text="${product.productName}"></h2>
            <button type="button" class="btn btn-default btn-sm" id="addToFavourites-product"
                title="Add product to favourites"><img th:src="@{/images/star-solid.svg}"></button>
        </div>

        <div id="product-admin-select-profile-id" style="display: none">
            <input id="product-input-profile-id" type="text" placeholder="Write profileId...">
            <button id="product-addToThis-profile-id">Add</button>
        </div>


        <p>Product id: <span th:text="${product.id}" id="productId"></span></p>
        <table class="table">
            <tr>
                <td>Kcal:</td>
                <td th:text="${product.kcal}"></td>
            </tr>
            <tr>
                <td>Proteins:</td>
                <td th:text="${product.protein}"></td>
            </tr>
            <tr>
                <td>Carbohydrates:</td>
                <td th:text="${product.carbs}"></td>
            </tr>
            <tr>
                <td>Fats:</td>
                <td th:text="${product.fat}"></td>
            </tr>
        </table>

        <div th:replace="fragments/basic-products-search :: search-products"></div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>