<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script type="text/javascript" th:src="@{/js/profile-details.js}"></script>
    <title>Profile Details</title>
</head>

<body>
    <h1 th:text="${profileName}"></h1>
    <h2>Profile details</h2>
    <p>Id: <span th:text="${profileDetails.profileId}"></span></p>
    <table class="table">
        <tr>
            <td>Height:</td>
            <td th:text="${profileDetails.height}" id="profileHeight"></td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td th:text="${profileDetails.weight}" id="profileWeight"></td>
        </tr>
        <tr>
            <td>Year of birth:</td>
            <td th:text="${profileDetails.yearOfBirth}" id="profileYearOfBirth"></td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td id="profileSex"><span th:if= "${profileDetails.sex != null}" th:text="${profileDetails.sex.displayName}"></span></td>
        </tr>
        <tr>
            <td>Aim:</td>
            <td id="profileAim"><span th:if= "${profileDetails.aim != null}" th:text="${profileDetails.aim.displayName}" th:title="${profileDetails.aim.description}"></span></td>
        </tr>
        <tr>
            <td>Activity level:</td>
            <td id="profileActivityLevel"><span th:if= "${profileDetails.activityLevel != null}" th:text="${profileDetails.activityLevel.displayName}"
                th:title="${profileDetails.activityLevel.description}"></span></td>
        </tr>
    </table>

    <button id="btn-edit">Edit details</button>
    <div class="container" id="form" style="display: none">
        <form id="detailsForm">
            <div class="form-group">
                <label for="height">Height:</label>
                <div class="range-slider">
                    <input class="input-range-height" type="range" min="80" max="250"
                        th:value="${profileDetails.height}" name="height" id="height">
                    <span class="range-value" th:text="${profileDetails.height}"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="weight">Weight:</label>
                <div class="range-slider">
                    <input class="input-range-weight" type="range" min="20" max="250"
                        th:value="${profileDetails.weight}" name="weight" id="weight">
                    <span class="range-value" th:text="${profileDetails.weight}"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="yearOfBirth">Year of birth:</label>
                <select name="yearOfBirth" id="yearpicker" th:text="${profileDetails.yearOfBirth}"></select>
            </div>

            <div class="form-group">
                <label for="sex" id="sex">Sex:</label>
                <input type='radio' class="sex_form" id='sex-male' name='sex' value='M' checked /><label
                    for="sex-male">Male</label>
                <input type='radio' class="sex_form" id='sex-female' name='sex' value='F' /><label
                    for="sex-female">Female</label>
            </div>

            <div class="form-group">
                <label for="aim">Aim:</label>
                <select name="aim" id="aim">
                    <option th:each="aim : ${T(com.damgor.foodapp.model.enums.Aim).values()}" th:value="${aim}"
                        th:text="${aim.displayName}" th:if="${aim == profileDetails.aim}" selected>
                    </option>
                    <option th:each="aim : ${T(com.damgor.foodapp.model.enums.Aim).values()}" th:value="${aim}"
                        th:text="${aim.displayName}" th:if="${aim != profileDetails.aim}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="activityLevel">Activity level:</label>
                <select name="activityLevel" id="activityLevel">
                    <option th:each="activityLevel : ${T(com.damgor.foodapp.model.enums.ActivityLevel).values()}"
                        th:value="${activityLevel}" th:text="${activityLevel.displayName}"
                        th:if="${activityLevel == profileDetails.activityLevel && profileDetails.activityLevel != null}" selected>
                    </option>
                    <option th:each="activityLevel : ${T(com.damgor.foodapp.model.enums.ActivityLevel).values()}"
                        th:value="${activityLevel}" th:text="${activityLevel.displayName}"
                        th:if="${activityLevel != profileDetails.activityLevel || profileDetails.activityLevel == null}">
                    </option>
                </select>
                <p style="font-size: 14px; font-style: italic" id="desc-activityLevel"
                    th:text="${profileDetails.activityLevel.description}" th:if="${profileDetails.activityLevel != null}"></p>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <h3>Indicators:</h3>
    <table class="table">
        <tr>
            <td title="Body mass index, weight in relation to height">BMI:</td>
            <td th:text="${profileDetails.bmi}" th:title="${profileDetails.bmiDescription}" id="profileBMI"></td>
        </tr>
        <tr>
            <td title="Rate of energy expenditure per day by endothermic animals at rest">BMR:</td>
            <td th:text="${profileDetails.bmr}" id="profileBMR"></td>
        </tr>
        <tr>
            <td>Recommended Caloric Intake:</td>
            <td th:text="${profileDetails.recommendedCaloricIntake}" id="profileRecommendedCaloricIntake"></td>
        </tr>
    </table>


    <a th:href="${profileDetails.getLink('Back to profile').get().getHref()}"><button>Back to profile</button></a>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var activityLevelDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.ActivityLevel).values()[0].displayNameMap}]]*/
            null;
        var activityLevelDescriptionsMap = /*[[${T(com.damgor.foodapp.model.enums.ActivityLevel).values()[0].descriptionMap}]]*/
            null;
        var aimDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Aim).values()[0].displayNameMap}]]*/ null;
        var aimDescriptionsMap = /*[[${T(com.damgor.foodapp.model.enums.Aim).values()[0].descriptionMap}]]*/ null;
        var sexDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Sex).values()[0].displayNameMap}]]*/ null;
        /*]]>*/
    </script>

</body>
</html>