<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/base-head :: baseHead(~{::title}, ~{::script})">

    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
    <script type="text/javascript" th:src="@{/js/product-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/favourites.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/recipe-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <title>Profile</title>

</head>

<body>

    <div th:replace="fragments/menu :: user"></div>
    <main>

        <div class="page-title">
            <h1>Profile: <span th:text="${profile.name}" id="profile-name"></span></h1>
            <button type="button" class="btn btn-default btn-lg confirm" id="delete">

                <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </button>
        </div>
        <p>Id: <span th:text="${profile.id}" id="profileId"></span></p>
        <table class="table">
            <tr>
                <td>Favourite cuisine:</td>
                <td id="profile-cuisine"><span th:if="${profile.cuisine != null}"
                        th:text="${profile.cuisine.displayName}"></span></td>
            </tr>
            <tr>
                <td>Diet type:</td>
                <td id="profile-diet"><span th:if="${profile.diet != null}" th:text="${profile.diet.displayName}"
                        th:title="${profile.diet.description}"></span></td>
            </tr>
            <tr>
                <td>Intolerance:</td>
                <td id="profile-intolerance"><span th:if="${profile.intolerance != null}"
                        th:text="${profile.intolerance.displayName}"></span></td>
            </tr>
        </table>

        <button id="btn-edit-profile">Edit profile</button>
        <div class="container" id="profile-form-container" style="display: none">
            <form id="profileForm">
                <div class="form-group">
                    <label for="name">Profile name:</label> <input type="text" class="form-control" id="name"
                        th:value="${profile.name}" name="name">
                </div>
                <div class="form-group">
                    <label for="diet">Diet:</label>
                    <select name="diet" id="diet">
                        <option th:each="diet : ${T(com.damgor.foodapp.model.enums.Diet).values()}" th:value="${diet}"
                            th:text="${diet.displayName}" th:if="${diet == profile.diet}" selected>
                        </option>
                        <option th:each="diet : ${T(com.damgor.foodapp.model.enums.Diet).values()}" th:value="${diet}"
                            th:text="${diet.displayName}" th:if="${diet != profile.diet}">
                        </option>
                        <option value="none">none</option>
                    </select>
                    <p style="font-size: 14px; font-style: italic" id="desc-diet" th:text="${profile.diet.description}"
                        th:if="${profile.diet != null}">
                        Select diet to get description</p>
                </div>
                <div class="form-group">
                    <label for="cuisine">Cuisine:</label>
                    <select name="cuisine" id="cuisine">
                        <option th:each="cuisine : ${T(com.damgor.foodapp.model.enums.Cuisine).values()}"
                            th:value="${cuisine}" th:text="${cuisine.displayName}" th:if="${cuisine == profile.cuisine}"
                            selected></option>
                        <option th:each="cuisine : ${T(com.damgor.foodapp.model.enums.Cuisine).values()}"
                            th:value="${cuisine}" th:text="${cuisine.displayName}"
                            th:if="${cuisine != profile.cuisine}">
                        </option>
                        <option value="none">none</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="intolerance">Intolerance:</label>
                    <select name="intolerance" id="intolerance">
                        <option th:each="intolerance : ${T(com.damgor.foodapp.model.enums.Intolerance).values()}"
                            th:value="${intolerance}" th:text="${intolerance.displayName}"
                            th:if="${intolerance == profile.intolerance}" selected></option>
                        <option th:each="intolerance : ${T(com.damgor.foodapp.model.enums.Intolerance).values()}"
                            th:value="${intolerance}" th:text="${intolerance.displayName}"
                            th:if="${intolerance != profile.intolerance}"></option>
                        <option value="none">none</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <br>


        <h3 class="table-tittle">Favourite recipes</h3>
        <input type="checkbox" unchecked data-toggle="toggle" data-on="shown" data-off="hidden" data-onstyle="success"
            data-offstyle="secondary" id="showRecipes">
        <div class="container" id="recipes-container" style="display: none">
            <table class="table" id="recipesTable">
                <tr>
                    <th>Recipe title</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            <button id="btn-search-recipes">Search more recipes</button>
            <div class="container" id="search-recipes" style="display: none">
                <label for="input-recipe-byIngredients">Find recipes by ingredients:</label>
                <input id="input-recipe-byIngredients" type="text" placeholder="Write wanted ingredients...">
                <button id="search-recipe-byIngredients">Search</button>
                <i class="far fa-question-circle" aria-hidden="true"
                    title="Use commas as separators, for example: 'cottage-cheese, spinach'"></i>
                <br>
                <label for="input-recipe-byText">Find recipes by text:</label>
                <input id="input-recipe-byText" type="text" placeholder="Write query...">
                <button id="search-recipe-byText">Search</button>
                <i class="far fa-question-circle" aria-hidden="true"
                    title="Write for example: 'Cake with carrots without nuts'"></i>
                <br>
                <label for="input-recipe-byId">Find recipe by ID:</label>
                <input id="input-recipe-byId" type="text" placeholder="Write recipe ID...">
                <button id="search-recipe-byId">Search</button>
                <i class="far fa-question-circle" aria-hidden="true" title="Write for example: '168241'"></i>
                <br>
            </div>
        </div>
        <br>

        <h3 class="table-tittle">Favourite products</h3>
        <input type="checkbox" unchecked data-toggle="toggle" data-on="shown" data-off="hidden" data-onstyle="success"
            data-offstyle="secondary" id="showProducts">
        <div class="container" id="products-container" style="display: none">
            <table class="table" id="productsTable">
                <tr>
                    <th>Product name</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            <button id="btn-search-products">Search more products</button>
            <div class="container" id="search-products" style="display: none">
                <label for="input-product-general">Find general product:</label>
                <input id="input-product-general" type="text" placeholder="Write product name...">
                <button id="search-product-general">Search</button>
                <i class="far fa-question-circle" aria-hidden="true"
                    title="Returns general products, without specific brand, for example: 'milk' or 'beer'"></i>
                <br>
                <label for="input-product-specific">Find brand products:</label>
                <input id="input-product-specific" type="text" placeholder="Write product name...">
                <button id="search-product-specific">Search</button>
                <i class="far fa-question-circle" aria-hidden="true"
                    title="Returns list of products with specific brands. Write specific product name (i.e. 'Coca-Cola') or general product name (i.e. 'cookies')"></i>
                <br>
                <label for="input-product-id">Find product by ID:</label>
                <input id="input-product-id" type="text" placeholder="Write product ID...">
                <button id="search-product-id">Search</button>
                <i class="far fa-question-circle" aria-hidden="true" title="Write for example: '62248'"></i>
            </div>
        </div>

        <br><br>
        <a th:href="${profile.getLink('Go to profile details').get().getHref()}"><button>Go to profile
                details</button></a>
        <a th:href="${profile.getLink('Go to profile food diary').get().getHref()}"><button>Go to profile food
                diary</button></a>

        <script th:inline="javascript">
            var dietDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Diet).values()[0].displayNameMap}]]*/ null;
            var dietDescriptionsMap = /*[[${T(com.damgor.foodapp.model.enums.Diet).values()[0].descriptionMap}]]*/ null;
            var intoleranceDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Intolerance).values()[0].displayNameMap}]]*/
                null;
            var cuisineDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Cuisine).values()[0].displayNameMap}]]*/
                null;
            var favouriteProducts = /*[[${profile.favouriteProducts}]]*/ null;
            var favouriteRecipes = /*[[${profile.favouriteRecipes}]]*/ null;
        </script>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>