<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head :: baseHead(~{::title}, ~{::script})">

    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
    <script type="text/javascript" th:src="@{/js/product-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/favourites.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/recipe-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>
    <script type="text/javascript" th:src="@{/js/external/bootstrap4-toggle.min.js}"></script>

    <title>Profile</title>

</head>

<body>

    <div th:replace="fragments/header :: user"></div>
    <main>

        <div class="navi">
            <div class="back">
                <span><img class="navi-img" th:src="@{/images/arrow-left-solid.svg}">Back</span>
                <a th:href="${profile.getLink('Get all profiles').get().getHref()}"><button>
                        <img class="navi-img" th:src="@{/images/users-solid.svg}">All profiles</button></a>
            </div>
            <div class="go-to">
                <span>Go to<img class="navi-img" th:src="@{/images/arrow-right-solid.svg}"></span>
                <a th:href="${profile.getLink('Go to profile details').get().getHref()}"><button>
                        <img class="navi-img" th:src="@{/images/address-card-regular.svg}">Profile
                        details</button></a>
                <a th:href="${profile.getLink('Go to profile food diary').get().getHref()}"><button>
                        <img class="navi-img" th:src="@{/images/book-solid.svg}">Food diary</button></a>
            </div>
        </div>

        <div class="page-title removable">
            <h1>Profile: <span th:text="${profile.name}" id="profile-name"></span></h1>
            <button type="button" class="btn btn-default btn-sm confirm" id="delete">
                <img th:src="@{/images/trash-alt-solid.svg}">
            </button>
        </div>
        <p>Id: <span th:text="${profile.id}" id="profileId"></span></p>

        <div class="editable">
            <h3 class="table-tittle">Summary</h3>
            <button type="button" class="btn btn-default btn-sm" id="btn-edit-profile"><img
                    th:src="@{/images/edit-solid.svg}"></button>
        </div>


        <table class="table summary-table">
            <tr>
                <td>Favourite cuisine:</td>
                <td id="profile-cuisine"><span th:if="${profile.cuisine != null}"
                        th:text="${profile.cuisine.displayName}"></span></td>
            </tr>
            <tr>
                <td>Diet type:</td>
                <td id="profile-diet"><span th:if="${profile.diet != null}" th:text="${profile.diet.displayName}"
                        th:title="${profile.diet.description}"></span></td>
            </tr>
            <tr>
                <td>Intolerance:</td>
                <td id="profile-intolerance"><span th:if="${profile.intolerance != null}"
                        th:text="${profile.intolerance.displayName}"></span></td>
            </tr>
        </table>

        <div class="form-container hidden" id="profile-form-container">
            <form id="profileForm">
                <table class="table summary-table form-table">
                    <h3 class="form-tittle">Edit profile</h3>
                    <tr>
                        <td>
                            <label for="name">Profile name:</label> </td>
                        <td>
                            <input type="text" class="form-control" id="name" th:value="${profile.name}" name="name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="diet">Diet:</label>
                        </td>
                        <td>
                            <select name="diet" id="diet">
                                <option th:each="diet : ${T(com.damgor.foodapp.model.enums.Diet).values()}"
                                    th:value="${diet}" th:text="${diet.displayName}" th:if="${diet == profile.diet}"
                                    selected>
                                </option>
                                <option th:each="diet : ${T(com.damgor.foodapp.model.enums.Diet).values()}"
                                    th:value="${diet}" th:text="${diet.displayName}" th:if="${diet != profile.diet}">
                                </option>
                                <option value="none">none</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cuisine">Cuisine:</label>
                        </td>
                        <td>
                            <select name="cuisine" id="cuisine">
                                <option th:each="cuisine : ${T(com.damgor.foodapp.model.enums.Cuisine).values()}"
                                    th:value="${cuisine}" th:text="${cuisine.displayName}"
                                    th:if="${cuisine == profile.cuisine}" selected></option>
                                <option th:each="cuisine : ${T(com.damgor.foodapp.model.enums.Cuisine).values()}"
                                    th:value="${cuisine}" th:text="${cuisine.displayName}"
                                    th:if="${cuisine != profile.cuisine}">
                                </option>
                                <option value="none">none</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="intolerance">Intolerance:</label>
                        </td>
                        <td>
                            <select name="intolerance" id="intolerance">
                                <option
                                    th:each="intolerance : ${T(com.damgor.foodapp.model.enums.Intolerance).values()}"
                                    th:value="${intolerance}" th:text="${intolerance.displayName}"
                                    th:if="${intolerance == profile.intolerance}" selected></option>
                                <option
                                    th:each="intolerance : ${T(com.damgor.foodapp.model.enums.Intolerance).values()}"
                                    th:value="${intolerance}" th:text="${intolerance.displayName}"
                                    th:if="${intolerance != profile.intolerance}"></option>
                                <option value="none">none</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="form-desc-container" id="profile-diet-desc-container">
                <p id="desc-diet" th:text="${profile.diet.description}"
                    th:if="${profile.diet != null}">Select diet to get description</p>
            </div>
        </div>

        <h3 class="table-tittle">Favourite recipes</h3>
        <input type="checkbox" unchecked data-toggle="toggle" data-on="shown" data-off="hidden" data-onstyle="success"
            data-offstyle="secondary" id="showRecipes">
        <div class="container" id="recipes-container" style="display: none">
            <table class="table" id="recipesTable">
                <tr>
                    <th>Recipe title</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            <button id="btn-search-recipes">Search more recipes</button>
            <div class="container" id="search-recipes" style="display: none">
                <div th:replace="fragments/basic-recipes-search :: search-recipes"></div>
            </div>
        </div>
        <br>

        <h3 class="table-tittle">Favourite products</h3>
        <input type="checkbox" unchecked data-toggle="toggle" data-on="shown" data-off="hidden" data-onstyle="success"
            data-offstyle="secondary" id="showProducts">
        <div class="container" id="products-container" style="display: none">
            <table class="table" id="productsTable">
                <tr>
                    <th>Product name</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            <button id="btn-search-products">Search more products</button>
            <div class="container" id="search-products" style="display: none">
                <div th:replace="fragments/basic-products-search :: search-products"></div>
            </div>
        </div>

        <script th:inline="javascript">
            var dietDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Diet).values()[0].displayNameMap}]]*/ null;
            var dietDescriptionsMap = /*[[${T(com.damgor.foodapp.model.enums.Diet).values()[0].descriptionMap}]]*/ null;
            var intoleranceDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Intolerance).values()[0].displayNameMap}]]*/
                null;
            var cuisineDisplayNamesMap = /*[[${T(com.damgor.foodapp.model.enums.Cuisine).values()[0].displayNameMap}]]*/
                null;
            var favouriteProducts = /*[[${profile.favouriteProducts}]]*/ null;
            var favouriteRecipes = /*[[${profile.favouriteRecipes}]]*/ null;
        </script>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>