    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head :: baseHead(~{::title}, ~{::script})">
    <script type="text/javascript" th:src="@{/js/recipes-list.js}"></script>
    <script type="text/javascript" th:src="@{/js/recipe-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>

    <title>Recipes</title>

</head>

<body>

    <div th:replace="fragments/header :: user"></div>

    <main>

        <h1>Recipes</h1>

        <h3 class="table-tittle">Recipes list:</h3>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th></th>
            </tr>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.recipeTitle}"></td>
                <td th:each="link : ${recipe.links} ">
                    <a th:href="${link.getHref()}"><button th:text="${link.getRel()}"></button></a>
                </td>
            </tr>
        </table>

        <div>
            <label for="input-result-number">Results on page:</label>
            <input id="input-result-number" type="number" value="5" min="1" max="99" class="small-input-number">
            <label for="input-page">Page number</label>
            <input id="input-page" type="number" value="1" min="1" max="99" class="small-input-number">
            <button id="set-numberAndOffset">Set</button>
        </div>
        <br>

        <div th:replace="fragments/basic-recipes-search :: search-recipes"></div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>