<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script type="text/javascript" th:src="@{/js/recipes-list.js}"></script>
    <script type="text/javascript" th:src="@{/js/recipe-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>

    <title>Recipes</title>
</head>

<body>

    <div>
        <i class="far fa-user"></i>
        <div sec:authorize="isAuthenticated()">
            <a id="user"><span sec:authentication="name"></span></a>
            <a id="logout">Log out</a>
        </div>
        <span sec:authorize="!isAuthenticated()"><a id="login-redirect">Log in</a></span>
    </div>


    <h1>Recipes</h1>

    <h2>Products list:</h2>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Likes</th>
            <th>Number of ingredients used from the query</th>
            <th>List of used ingredients form the query</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.recipeTitle}"></td>
            <td th:text="${recipe.likes}"></td>
            <td th:text="${recipe.usedIngredientCount}"></td>
            <td th:text="${recipe.usedIngredientsList}"></td>
            <td th:each="link : ${recipe.links} ">
                <a th:href="${link.getHref()}"><button th:text="${link.getRel()}"></button></a>
            </td>
        </tr>
    </table>

    <div>
        <label for="input-result-number">Results on page:</label>
        <input id="input-result-number" type="number" value="5" min="1">
        <label for="input-page">Page number</label>
        <input id="input-page" type="number" value="1" min="1">
        <button id="set-numberAndOffset">Set</button>
    </div>
    <br>

    <h3>Look for other recipes:</h3>
    <div>
        <button id="search-recipe-random">Surprise me!</button><i class="far fa-question-circle" aria-hidden="true"
            title="Get random recipe"></i>
        <br>

        <label for="input-recipe-byIngredients">Find recipes by ingredients:</label>
        <input id="input-recipe-byIngredients" type="text" placeholder="Write wanted ingredients...">
        <button id="search-recipe-byIngredients">Search</button>
        <i class="far fa-question-circle" aria-hidden="true"
            title="Use commas as separators, for example: 'cottage-cheese, spinach'"></i>
        <br>

        <label for="input-recipe-byId">Find recipe by ID:</label>
        <input id="input-recipe-byId" type="text" placeholder="Write recipe ID...">
        <button id="search-recipe-byId">Search</button>
        <i class="far fa-question-circle" aria-hidden="true" title="Write for example: '168241'"></i>
        <br>

        <label for="input-recipe-byText">Find recipes by text:</label>
        <input id="input-recipe-byText" type="text" placeholder="Write query...">
        <button id="search-recipe-byText">Search</button>
        <i class="far fa-question-circle" aria-hidden="true"
            title="Write for example: 'Cake with carrots without nuts'"></i>
        <br>

        <label for="input-recipe-suitable">Find recipe suitable for selected profile:</label>
        <input id="input-recipe-suitable" type="text" placeholder="Write profile ID...">
        <button id="search-recipe-suitable">Search</button>
        <i class="far fa-question-circle" aria-hidden="true"
            title="We will find a recipe that your friend will love! Write for example: '1'"></i>
        <br>

        <label for="input-recipe-compromise" title="We will find a recipe suitable for everyone at the same time!">Find
            acompromise recipes for selected profiles:</label>
        <input id="input-recipe-compromise" type="text" placeholder="Write profile' IDs...">
        <button id="search-recipe-compromise">Search</button>
        <i class="far fa-question-circle" aria-hidden="true"
            title="We will find a recipe suitable for everyone at the same time! Write for example: 1,3"></i>
    </div>

    <script th:inline="javascript">
        var auth = /*[[${#authentication}]]*/ null;
    </script>

</body>

</html>