<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head :: baseHead(~{::title}, ~{::script})">
    <script type="text/javascript" th:src="@{/js/recipe-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/favourites.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>

    <title>Recipe</title>

</head>

<body>

    <div th:replace="fragments/header :: user"></div>

    <main>

        <h1>Recipe</h1>

        <div class="removable">
            <h2 th:text="${recipe.recipeTitle}"></h2>
            <button type="button" class="btn btn-default btn-sm" id="addToFavourites-recipe"
                title="Add recipe to favourites"><img th:src="@{/images/star-solid.svg}"></button>
        </div>

        <div id="recipe-admin-select-profile-id" style="display: none">
            <input id="recipe-input-profile-id" type="text" placeholder="Write profileId...">
            <button id="recipe-addToThis-profile-id">Add</button>
        </div>

        <p>Recipe id: <span th:text="${recipe.id}" id="recipeId"></span></p>

        <h3 class="table-tittle">Basic informations</h3>
        <table class="table">
            <tr>
                <td>Likes:</td>
                <td th:text="${recipe.likes}"></td>
            </tr>
            <tr>
                <td>Score:</td>
                <td th:text="${recipe.score}"></td>
            </tr>
            <tr>
                <td>Health-scores:</td>
                <td th:text="${recipe.healthScore}"></td>
            </tr>
            <tr>
                <td>Servings:</td>
                <td th:text="${recipe.servings}"></td>
            </tr>
            <tr>
                <td>$ per serving:</td>
                <td th:text="${recipe.pricePerServing}">No-info</td>
            </tr>
            <tr>
                <td>Diets:</td>
                <td>
                    <ul class="list-in-table">
                        <li th:each="diet : ${recipe.diets}" th:text="${diet}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Dish types:</td>
                <td>
                    <ul class="list-in-table">
                        <li th:each="dish : ${recipe.dishTypes}" th:text="${dish}"></li>
                    </ul>
                </td>
            </tr>
        </table>

        <h3 class="table-tittle">Ingredients:</h3>
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Units</th>
            </tr>
            <tr th:each="ingr : ${recipe.ingredients}">
                <td th:text="${ingr.name}">-</td>
                <td th:text="${ingr.amount}">-</td>
                <td th:text="${ingr.unit}">unit</td>
            </tr>
        </table>

        <h3>Instructions:</h3>
        <p th:text="${recipe.instructions}"></p>
        <br>

        <div th:replace="fragments/basic-recipes-search :: search-recipes"></div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>


</html>