<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head :: baseHead(~{::title}, ~{::script})">
    <script type="text/javascript" th:src="@{/js/product-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/user-panel.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-errorHandling.js}"></script>

    <title>Search products</title>

</head>

<body>

    <div th:replace="fragments/header :: user"></div>

    <main>

        <div th:replace="fragments/basic-products-search :: search-products"></div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>